absl-py==1.3.0
alabaster==0.7.12
alembic==1.8.1
altgraph==0.17.2
astor==0.8.1
astunparse==1.6.3
attrs==19.3.0
autopage==0.5.1
Babel==2.11.0
backcall==0.1.0
bleach==3.1.5
cached-property==1.5.2
cachetools==4.2.4
certifi==2020.4.5.1
chardet==3.0.4
clang==5.0
click==8.0.4
cliff==3.10.1
cloudpickle==2.2.1
cmaes==0.9.0
cmd2==2.4.2
colorama==0.4.6
colorlog==6.7.0
cycler==0.10.0
Cython==0.29.19
decorator==4.4.2
defusedxml==0.6.0
docutils==0.19
entrypoints==0.3
Flask==2.0.3
flatbuffers==22.12.6
future==0.18.2
gast==0.2.2
geos==0.2.3
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==2.0.1
grpcio==1.51.1
h5py==2.10.0
idna==2.9
imageio==2.8.0
imagesize==1.4.1
imgaug==0.4.0
imglyb==0.4.0
importlib-metadata==4.13.0
importlib-resources==5.10.0
ipykernel==5.3.0
ipyparallel==8.4.1
ipython==7.15.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
itsdangerous==2.1.2
jedi==0.17.0
jgo==0.5.0
Jinja2==3.1.1
joblib==1.2.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
jupyterlab==2.1.3
jupyterlab-server==1.1.5
jupyterlab-widgets==3.0.3
jupyterthemes==0.20.0
keras==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
labelImg==1.8.3
lesscpy==0.14.0
libclang==14.0.6
lime==0.2.0.1
llvmlite==0.39.1
lxml==4.5.1
Mako==1.2.4
Markdown==3.2.2
MarkupSafe==2.1.1
matplotlib==3.2.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.6
networkx==2.4
nose==1.3.7
notebook==6.0.3
numba==0.56.4
numpy==1.21.6
oauthlib==3.2.2
opencv-contrib-python==4.2.0.34
opencv-python==4.6.0.66
opt-einsum==3.3.0
optuna==3.0.4
packaging==21.3
pandas==1.3.5
pandocfilters==1.4.2
parso==0.7.0
pbr==5.11.0
pefile==2021.9.3
pickleshare==0.7.5
Pillow==7.1.2
plotly==5.11.0
ply==3.11
prettytable==3.5.0
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.12.1
psutil==5.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.13.0
pyimagej==0.5.0
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.3
pyjnius==1.3.0
PyMuPDF==1.18.16
pyodbc==4.0.30
pyparsing==2.4.7
pyperclip==1.8.2
PyQt5==5.15.0
PyQt5-sip==12.8.0
pyreadline3==3.4.1
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==6.0
pyzmq==19.0.1
qtconsole==5.4.0
QtPy==2.3.0
requests==2.23.0
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.17.2
scikit-learn==1.0.2
scipy==1.4.1
scyjava==0.4.0
seaborn==0.11.2
Send2Trash==1.5.0
shap==0.41.0
Shapely==1.8.5.post1
six==1.15.0
slicer==0.0.7
snowballstemmer==2.2.0
Sphinx==5.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.44
stevedore==3.5.2
tenacity==8.1.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-addons==0.18.0
tensorflow-estimator==2.10.0
tensorflow-gpu==2.10.0
tensorflow-io-gcs-filesystem==0.28.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==3.1.0
tifffile==2020.6.3
tornado==6.0.4
tqdm==4.64.1
traitlets==4.3.3
typeguard==2.13.3
typing-extensions==3.7.4.3
urllib3==1.25.9
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==2.0.3
widgetsnbextension==4.0.3
wrapt==1.12.1
xgboost==1.6.2
zipp==3.1.0
